
@{
    ViewBag.Title = "Admin_home";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="~/Content/Adminhome.css" rel="stylesheet" />

</head>
<body>
    <div class="box">
        <div class="parallax"></div>
    </div>
    <h2 style="margin-top: 20px">ADMIN SERVICE</h2>

    <div class="row" style="margin:20px;display: flex;
  flex-wrap: wrap;justify-content:center; ">
        <div class="column">
            <img src="~/Content/Images/staff.svg" class="icon">
            <h2>WORKERS</h2>

        </div>
        
        <div class="column1">
            <img src="~/Content/Images/location.svg" class="icon1">
            <h2 style=" margin-top: 13px;">THANA</h2>


        </div>
    </div>
    <div class="row" style="margin:20px;display: flex;
  flex-wrap: wrap;justify-content:center; ">
        <div class="column">
            <img src="~/Content/Images/user-plus-solid.svg" class="icon">
            <h2>ADD ADMIN</h2>

        </div>

        <div class="column">
            <img src="~/Content/Images/maidicon.svg" class="icon" style="height: 140px;
    margin-left: 70px;">
            <h2 style="margin-top: 10px;">WORK</h2>

        </div>

    </div>



</body>

</html>

