
@{
    ViewBag.Title = "footer";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="footer.css" rel="stylesheet" />

</head>

<body>

    <footer class="footer-distributed">

        <div class="footer-left">
            <img src="Images/logo1.png">


            <p class="footer-company-about">
                MaidEasy is the on demand maid service in Bangladesh that has connected hundreds of verified maids with you through web platform.
            </p>


        </div>

        <div class="footer-center">


            <div>
                <i class="fa fa-phone-square" aria-hidden="true"></i>
                <p class="phone_no">HOTLINE <br> 16789</p>
            </div>




        </div>


        <div class="footer-right">

            <div>
                <i class="fa fa-map-marker"></i>
                <p>219/220 Tejgaon Industrial Area,<br> Dhaka, Bangladesh</p>

            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+88 02 55668100</p>
            </div>

        </div>


        <div class="footer-company-copyright">
            <i class="fa fa-copyright" aria-hidden="true"></i> MaidEasy Ltd 2020 / All Rights Reserved.
        </div>

    </footer>
</body>
</html>
