@model MaidEasy.Models.LogInModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Login </title>
    <link href="~/Content/login.css" rel="stylesheet" />

    <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-storage.js"></script>
</head>


<body>
    <div class="container">
       
            <div class="form">
                <form method="post" action="something.php" class="signup-form">
                    <div class="form-control">
                        <label for="username">Username</label>
                        <input type="text" placeholder="Enter Username" name="Username">
                    </div>

                    <div class="form-control">
                        <label for="username">Password</label>
                        <input type="password" placeholder="Enter Password" name="loginpassword">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" name="signupbutton">Log In</button>

                    <p style="font-size:15px";>Don't have an account? <a href="#" style="color:dodgerblue;">Register here</a>.</p>
                </form>
            </div>

        </div>

        @*Footer*@
        @{
            Html.RenderPartial("footer");
        }

</body>
</html>