<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> SignUp </title>
    <link href="~/Content/signup.css" rel="stylesheet" />
</head>
<body>
    <div class='signup-page'>
        <div class='form'>
            <form method="post" action="something.php" class="signup-form">


                <input id="username" type="text" placeholder="User Name" name="Username">




                <input id="name" type="text" name="name" placeholder="Name">



                <input id="Phoneno" type="text" name="Phone" placeholder="Phone no.">


                <input id="presentaddress" type="text" name="presentaddress" placeholder="Present Address">

                <input id="permanenttaddress" type="text" name="permanentaddress" placeholder="Permanent Address">

                <!--	<input id="email" type="text"  name="email" placeholder="Email"> -->



                <input id="signUpPassword" type="password" name="signUpPassword" placeholder="Password">



                <input id="confirmPassword" type="password" name="confirmPassword" placeholder="confirmPassword">

                <input id="profileimage" type="file" name="profileimage">


                <button type="submit" class="btn btn-primary btn-block" name="signupbutton">Sign Up</button>
            </form>


        </div>
    </div>
</body>
</html>