@{
    ViewBag.Title = "Add_worker";
    Layout = null;
}

@{
    Html.RenderPartial("Header");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <title>Add Worker</title>
    <link href="~/Content/Add_worker.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


</head>


<body>
    <form id="form" action="/AdminWorker/AddNewWorker" class="form" autocomplete="off" method="post" enctype="multipart/form-data">

        @{
            //List<string> thanalist = (List<string>)ViewData["thanaList"];
            MaidEasy.Models.CustomDbContext dbContext = new MaidEasy.Models.CustomDbContext();
            IEnumerable<MaidEasy.Models.thana> thanalist = dbContext.thana.ToList();

        }
        <div class="container something" style=" margin-top: 190px !important;
    margin-bottom: 150px !important;">
            <div class="submit-area" data-aos="zoom-out">
                <div style="text-align:center;margin-bottom:1.5rem;">
                    <h2>Personal Information</h2>
                </div>


                <div class="form-group">
                    <label for="Name">Name</label>
                    <input class="form-control" type="text" placeholder="Name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="Father's Name">Father's Name</label>
                    <input class="form-control" type="text" placeholder="Father's Name" name="fathername" required>
                </div>
                <div class="form-group">
                    <label for="Father's Name">Phone</label>
                    <input class="form-control" type="text" placeholder="phone no (+8801*********)" name="Phone" pattern="^\+88\d{11}$" required>
                </div>

                <div class="form-group">
                    <label for="Father's Name">Present Address</label>
                    <input class="form-control" type="text" placeholder="Present Address" name="presentAddress" required>
                </div>
                <div class="form-group">
                    <label for="Father's Name">Permanent Address</label>
                    <input class="form-control" type="text" placeholder="Permanent Address" name="permanentAddress" required>

                </div>


                <div class="form-group">
                    <select class="selectpicker" data-style="btn-dark" data-width="fit" title="Gender" name="gender">
                        <option>Male</option>
                        <option>Female</option>


                    </select>
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" accept='image/*' id="customFile" name="file">
                        <label style="font-size:.9rem;" class="custom-file-label" for="customFile">Choose an Image</label>
                    </div>

                </div>

            </div>
            <!--  <div style="margin-top:20px;">
                <select class="selectpicker" data-width="fit" title="Maid Type" multiple>
                    <option>Temporary</option>
                    <option>Permanent</option>
                    <option>Elderly Care</option>
                    <option>Baby Care</option>


                </select>
            </div>-->

            <div class="submit-area" data-aos="zoom-out">


                <div style="margin-bottom:1.5rem;text-align: center;">
                    <h2>Work related information</h2>
                </div>




                <div class="form-group">
                    <label for="Father's Name"> Work Type </label>
                    <div class="choices">
                        <label class="contain">
                            Temporary
                            <input type="checkbox" name="temporaryType">
                            <span class="checkmark"></span>
                        </label>

                        <label class="contain">
                            Permanent
                            <input type="checkbox" name="permanentType">
                            <span class="checkmark"></span>
                        </label>

                        <label class="contain">
                            Baby Care
                            <input type="checkbox" name="babyCareType">
                            <span class="checkmark"></span>
                        </label>

                        <label class="contain">
                            Elderly Care
                            <input type="checkbox" name="elderlyCareType">
                            <span class="checkmark"></span>
                        </label>

                        <div class="invalid-feedback" id="invalid-message">
                            Please select an option
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <!--     <div class="col-md-7 mb-4"> -->
                    <label for="Father's Name"> Work Area </label>
                    <br>

                    <select name="area" class="selectpicker" style="margin-bottom:20px;" title="Select Area" data-width="fit" data-style="btn-info" data-live-search="true" required multiple>
                        @{
                            foreach (var item in thanalist)
                            {
                                <option> @item.Name </option>

                            }
                        }
                    </select>
                </div>


                <div style="text-align:center;margin-top:1.75rem;">
                    <button id="submitbtn" type="submit" class="btn btn-outline-dark collapsible">Submit</button>
                </div>
            </div>
        </div>
    </form>
    <script src="~/Scripts/JS/Addworker.js"></script>
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

</body>
</html>
