



﻿.above {
    margin-top: 100px!important;
    margin-bottom: 100px!important;
}

.team {
    font-family: "Oswald";
    font-size: 50px!important;
    margin-bottom: 100px;
    color:whitesmoke;
}

.card img {
    margin: auto!important;
}

.card {
    text-align: center!important;
    font-family: "Roboto";
    border: none !important;
}

    .card h5 {
        font-weight: 600;
    }

.card-footer {
    background-color: white !important;
    border-top: 0 !important;
}

.about .social {
    height: 30px;
    width: 30px;
    border: 1px solid rgb(182, 182, 174);
    border-radius: 50%;
    text-align: center;
    background-color: rgb(100, 100, 100);
    /*transition: 0.6s ease !important;*/
}

    .about .social .fab {
        color: white;
        text-decoration: none;
    }

/*.about .social:hover {
    background-color: black;
    border: 2px solid rgb(182, 182, 174);
}
*/
.about .fb:hover {
    background-color: #3b5998 !important;
}

.about .insta:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.about .twitter:hover {
    background-color: #00acee !important;
}

.about .linked-in:hover {
    background-color: #0e76a8 !important;
}
