.card-body{
    background-color: #fff;
}
body {
    align-items: center;
    justify-content: center;
    background-color:#000;
 
}
.area {
    margin-top: 169px;
    /* margin-left:300px;*/
    margin-bottom:100px;
}
.container1 {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    max-width: 600px;
   
    margin: auto;
}
.form {
    padding: 30px 40px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.container-fluid {
    padding-top: 80px;
    
}
