




body {
    font-family: 'Poppins', sans-serif;
    background-color:#000;
}


.navbar {
    padding: .5rem 3.5rem;
}

.dropdown-menu {
    background-color: #343a40;
    color: #343a40;
}

.dropdown-item {
    color: #fff;
}

    .dropdown-item:hover {
        background-color: #343a40;
        color: #fff;
    }


.logo{
    height:50px;
    width:120px;
}

S