body {
    background-color: #000;
}

.current-box {
    position: relative;
    height: 400px;
}

.previous-box {
    /* position: relative; 
    height: 770px; */
    margin-top: 30px;
}

/*.extra
{
    margin-top: 530px;
    margin-bottom: 102px;
} */
.time {
    padding-top: 10px;
    font-weight: bold;
    font-size: 30px;
    color: #77c1e4;
    text-align: center;
    font-family: "Helvetica","Arial","sans-serif";
}


.column1 {
    float: left;
    width: 35%;
    word-wrap: break-word;
}

.column2 {
    float: right;
    width: 55%;
    word-wrap: break-word;
}

/* Clear floats after the column2 */
.row:after column2 {
    content: "";
    display: table;
    clear: both;
    word-wrap: break-word;
}

.profile {
    padding-top: 20px;
    font-family: "Georgia", "Arial", "Helvetica";
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.head-box {
    text-decoration-color: darkslateblue;
    /* margin-top: 30px;*/
    padding-top:60px;
}

.card-box {
    width: 400px;
    height: 700px;
    background: #FFFFFF;
    border-radius: 6px;
    /* position: absolute;*/
    position: static;
    /*top: 30%;
    left: 35%;
   /* transform: translate(-50%,-50%);*/
    box-shadow: 1px 1px 12px 7px #006680;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 70px;
    /*margin-left: 35%;*/
}



.upper-box {
    height: 160px;
    background: #001a33;
}

.image-box {
    background: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /*transform: translate(230px, 10px); */
    transform: translate(130px, 80px);
}

    .image-box img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

.lower-box {
    background: #FFF;
    padding-top: 70px;
    text-align: center;
    margin-bottom: 15px;
}

    .lower-box h3 {
        padding-left: 50px;
        text-align: left;
        box-sizing: border-box;
        font-weight: bold;
    }

.collapsible {
    background-color: #001a33;
    color: #77c1e4;
    cursor: pointer;
    padding: 18px;
    width: 350px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 25px;
    font-family: "Georgia", "Arial", "Helvetica";
    font-weight:bold;
    margin-top:50px;
}
.active {
    background-color: #77c1e4!important;
    color:#fff;
    
}
.collapsible:hover {
    background-color: #77c1e4;
    color: #fff;
}
   .collapsible:focus{
       outline:none;
   }
    .content {
        display: none;
    }
.btn-primary {
    color: #77c1e4;
    margin: 20px;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    background-color: #001a33;
    border-color: #77c1e4;
    margin: 10px;
    /*  margin-left: 115px;*/
}

#user-data {
    margin-top: 10px;
    margin-left: 60px;
}

.category {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.user-input {
    font-weight: 300 !important;
    margin-left: 1em;
}

li {
    white-space: nowrap;
    margin-left: 1em;
}
