


﻿.something {
   
}

.login {
    padding: 10px 20px !important;
    background-color: rgb(41, 105, 243) !important;
    color: white !important;
    border-radius: 5px !important;
    border: none !important;
}

    .login:hover {
        text-decoration: none;
        color: white;
        background-color: rgb(1, 78, 245);
    }

.submit-area {
    margin: 50px 200px;
    box-shadow: 0px 2px 10px lightgray;
    padding: 80px 120px 50px;
    background-color: #fff;
}

    .submit-area a {
        text-decoration: none !important;
    }

.form-group {
    display: flex;
}

    .form-group i {
        background-color: lightgray;
        text-align: center;
        padding: 10px;
        border-radius: 2px;
    }

/*body {
    background-color: #000 !important;
    font-family: 'Poppins', sans-serif !important;
   
    margin: 0;
}
.box {
    min-height:500px !important;
    margin-top:120px;
}
.area {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px !important;
    max-width: 100% !important;
  
  
}

.header {
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 20px 40px;
}

    .header h2 {
        margin: 0;
    }

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 1rem;
    padding-bottom: 20px;
    position: relative;
    padding: .375rem .75rem !important;
    border:none!important;
}

    .form-control label {
        display: inline-block;
        margin-bottom: 5px;
    }

    .form-control input {
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        display: block;
        font-family: inherit;
        font-size: 14px;
        padding: 10px;
        width: 100%;

    }

        .form-control input:focus {
            outline: 0;
            border-color: #777;
        }

    .form-control.success input {
        border-color: #2ecc71;
    }

    .form-control.error input {
        border-color: #e74c3c;
    }

   

   

.form button {
    background-color: #0a8aec;
    border: 2px solid #0a8aec;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}












@media screen and (max-width: 480px) {



    .floating-btn {
        right: 10px;
    }
}


.autocomplete {
   
    position: relative;
    display: inline-block;
}


.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
  
    top: 100%;
    left: 0;
    right: 0;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

        .autocomplete-items div:hover {
          
            background-color: #e9e9e9;
        }

.autocomplete-active {
   
    background-color: DodgerBlue !important;
    color: #ffffff;
}*/


 /*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .submit-area {
        margin:0;
       
    }
}
 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .submit-area {
        padding: 30px 30px 30px;
    }
}
