body {
   
    background: #080f22db;
   
    /* font-family: 'Helvetica Neue', sans-serif; */
}
/** {
    border: 1px solid #f00 !important;
}*/
.box {
    /*margin-top:60px;*/
    margin-top: 169px;
    margin-bottom: 100px;
}

  

#user-photo-wrapper {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: solid 1px #d8d8d8;
    display: block;
    margin: auto;
}

/*#user-photo {
    width: 200px;
}*/

#user-name {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #103868;
}

#user-data {
    margin-top: 40px;
    
}


.category {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}

.user-input {
    font-weight: 300 !important;
    margin-left: 1em;
}















.inner {
    width: 19rem!important;
    border: none!important;
    margin: auto!important;
}





.card-inner {
    margin-left: 4rem;
}

.comment {
    width: 20rem;
}

 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {




    .inner {
        width: 16rem !important;
    }
    .user-input {
      
        margin-left: 0em;
    }
    .comment {
        width: 17rem;
        margin:auto;
    }

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .comment {
        margin: auto;
    }
}