/*


.tab {
    cursor: pointer;
    padding: 10px;
}

    .tab.active {
        background-color: black;
        color: aliceblue;
    }

    .tab:hover {
        background-color: black;
        color: aliceblue;
    }

.tab-content {
    /*margin-left: 520px;
    margin-right: 20px;  */
    /* position: absolute; */
  /*  top: 20%;
    /* left:40%; */
/*} */

.box {
    border-radius: 8px;
    padding-top: 120px;
}

/* class for the select box */
.experiencebox {
    width: 130px;
    /*margin:30px auto; */
    display: flex;
    align-items: center;
}

    /* class for the options */

    .experiencebox select {
        width: inherit;
        /*position: relative; */
        -webkit-appearance: none;
    }


.checked {
    color: #ffe749;
}
.notchecked {
    color: #f8f0c1;
}

body {
    padding-top: 50px;
}

.searchresults {
    top: 120%;
    min-height: 200px;
    margin-bottom:60px;
}
h5{
    color:#fff !important;
}

.nav-tabs .nav-link.active {
    background-color: #007bff !important;
    color: #fff !important;
    border-color: #0F93FE !important;
}
.nav-tabs {
    border-bottom: 1px solid #0F93FE !important;
}
.textcolor{
    color: #fff !important;
}
.card {
    /*border: none !important;*/
    /*border-radius:.75rem !important;*/
    /*border-bottom-right-radius: 0rem!important;
    border-bottom-left-radius: 0rem!important;
    border-right:1px solid grey!important;*/
    border-radius:0rem!important;
}
.card-header {
    /*background-color: #313f4b !important; */
    color:black;
   
}
.fcolor{
color:black;
font-size:.85rem!important;
}
.pdn{
    padding:1rem!important;
}

.leftradius {
    border-top-left-radius: 45px!important;
    border-bottom-left-radius: 45px!important;
}
.rightradius {
    border-top-right-radius: 45px !important;
    border-bottom-right-radius: 45px !important;
}

 /*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .leftradius {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    .rightradius {
        border-top-right-radius: 0!important;
        border-bottom-right-radius: 0 !important;
    }
}