/*
[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid black;
    background-color: #00afffc7;
}

.tab {
    cursor: pointer;
    padding: 10px;
}

    .tab.active {
        background-color: black;
        color: aliceblue;
    }

    .tab:hover {
        background-color: black;
        color: aliceblue;
    }

.tab-content {
    /*margin-left: 520px;
    margin-right: 20px;  */
    /* position: absolute; */
  /*  top: 20%;
    /* left:40%; */
/*} */

.box {
    border-radius: 8px;
    padding-top: 120px;
}

/* class for the select box */
.experiencebox {
    width: 130px;
    /*margin:30px auto; */
    display: flex;
    align-items: center;
}

    /* class for the options */

    .experiencebox select {
        width: inherit;
        /*position: relative; */
        -webkit-appearance: none;
    }


.checked {
    color: orange;
}

body {
    padding-top: 50px;
}

.searchresults {
    top: 120%;
    min-height: 200px;
}
h5{
    color:#fff !important;
}

.nav-tabs .nav-link.active {
    background-color: #007bff !important;
    color: #fff !important;
    border-color: #0F93FE !important;
}
.nav-tabs {
    border-bottom: 1px solid #0F93FE !important;
}
.textcolor{
    color: #fff !important;
}