body {
    background-color: #fff !important;
}

th {
    /*font-family: 'Montserrat', sans-serif;*/
    cursor: pointer;
}

th, td {
    
}

tr {
   
}


.collapsible {
    background-color: #3b5998;
    color: whitesmoke;
    cursor: pointer;
    padding: 20px 20px;
    width: 200px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 25px;
    height: 200px;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
    transition: all 0.2s;
}

    .active, .collapsible:hover {
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
        transform: translateY(10px);
        background-color: rgb(41, 105, 243);
    }
    button:focus{
        outline:none!important;
    }
.tablestyle {
    /* background-color: #000;*/
}

.container {
    margin-top: 80px;
}

.middle {
    text-align: center;
}

/*Table tbody th, table.dataTable tbody td {
    padding: 5px 5px !important;
}*/
