body {
    background-color: #fff !important;
}

th {
    /*font-family: 'Montserrat', sans-serif;*/
    cursor: pointer;
}

th, td {
    
}

tr {
   
}


.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 250px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

    .active, .collapsible:hover {
        background-color: #555;
    }

.tablestyle {
    /* background-color: #000;*/
}

.container {
    margin-top: 80px;
}

.middle {
    text-align: center;
}

Table tbody th, table.dataTable tbody td {
    padding: 5px 5px !important;
}
