
@{
    ViewBag.Title = "Service";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="~/Scripts/JS/tabscript.js"></script>
</head>

<body>

    <style>
        .container {
            background-color: #0F93FE;
            color: white;
        }

        a {
            color: white;
        }

        .nav-pills .nav-link.active {
            background-color: black;
        }
    </style>


    <!-- Nav tabs -->
    <div class="container">
        <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="temporary-tab" data-toggle="tab" href="#temporary" role="tab" aria-controls="temporary" aria-selected="true">Temporary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="permanent-tab" data-toggle="tab" href="#permanent" role="tab" aria-controls="permanent" aria-selected="false">Permanent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="babycare-tab" data-toggle="tab" href="#babycare" role="tab" aria-controls="babycare" aria-selected="false">Baby Care</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="elderlycare-tab" data-toggle="tab" href="#elderlycare" role="tab" aria-controls="elderlycare" aria-selected="false">Elderly Care</a>
            </li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="temporary" role="tabpanel" aria-labelledby="home-tab">Temporary</div>
        <div class="tab-pane" id="permanent" role="tabpanel" aria-labelledby="profile-tab">Permanent</div>
        <div class="tab-pane" id="babycare" role="tabpanel" aria-labelledby="messages-tab">baby</div>
        <div class="tab-pane" id="elderlycare" role="tabpanel" aria-labelledby="settings-tab">Elderly care</div>
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>

