
@{
    ViewBag.Title = "user_profile";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="user_profile.css" rel="stylesheet" />

    <title>User Profile</title>

</head>


<body>

    <div class="head-box">

        <div class="profile">
            <header>
                <h1>User Profile</h1>
                <br><hr>
            </header>

        </div>

    </div>





    <div class="card-box">



        <div class="upper-box">
            <div class="image-box">
                <img src="sample_profile.jpg" />
            </div>
        </div>



        <div class="lower-box">


            <div class="row">
                <div class="column1"><h3>Name</h3></div>

                <div class="column2"><h3>Mr. ABC</h3></div>

            </div>

            <div class="row">

                <div class="column1"><h3>Mobile Number</h3></div>

                <div class="column2"><h3>+8801234567899</h3></div>

            </div>


            <div class="row">

                <div class="column1"><h3>Email</h3></div>

                <div class="column2"><h3>abc@mail.com</h3></div>

            </div>


            <div class="row">

                <div class="column1"><h3>Present Address</h3></div>

                <div class="column2"><h3>sample present address showing</h3></div>

            </div>


            <div class="row">

                <div class="column1"><h3>Permanent Address</h3></div>

                <div class="column2"><h3>sample permanent address showing</h3></div>

            </div>



        </div>


        <div style="text-align:center;">

            <button type="button" id="hw_button">Hired Workers</button>

        </div>


    </div>

</body>

</html>

