
@{
    //ViewBag.Title = "Service";
    Layout = null;
}
  <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="~/Scripts/JS/tabscript.js" defer></script>

    <link href="~/Content/service.css" rel="stylesheet">
    <link href="~/Content/profilecard.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Services</title>


</head>
<body>
    <div class="box">
        <ul class="tabs">
            <li data-tab-target="#temporary" class="active tab">Temporary</li>
            <li data-tab-target="#permanent" class="tab">Permanent</li>
            <li data-tab-target="#babycare" class="tab">Baby care</li>
            <li data-tab-target="#elderlycare" class="tab">Elderly care</li>



        </ul>

        <div class="tab-content">


            <div id="temporary" data-tab-content class="active">
                <div class="experiencebox">
                    <select class="input-lg form-control" id="paperSelect">
                        <option value="0">Experience:</option>
                        <option value="1" id="oneyear">1 year</option>
                        <option value="2" id="twoyear">2 year</option>
                        <option value="3" id="threeyear">3 year</option>
                        <option value="4" id="fouryear">4 year</option>

                    </select>

                    <img src="https://creation.bitechx.com/images/creation/down.svg" style="width:10px;margin-left:-25px;">

                </div>

                <div class="card-box">

                    <div class="upper-box">
                        <div class="image-box">
                            <img src="profile.jpg" />
                        </div>
                    </div>

                    <div class="lower-box">
                        <div>
                            <h3>Alaina Wick</h3>
                            <!--<h4>3 year experience</h4> -->
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>

                        </div>
                        <div>
                            <p>sodales accumsan ligula. Aenean sed diam tristique, fermentum mi nec, ornare arcu.</p>
                        </div>
                        <div>
                            <a href="#" class="btn">View profile</a>
                        </div>
                    </div>

                </div>

            </div>
            <div id="permanent" data-tab-content>
                <h1>Temporary</h1>
                <div class="row">
                    <div class="col-xs-6">

                        <h1>enter your preferences </h1>

                    </div>

                    <div class="col-xs-6">
                        <h1>enter your preferences </h1>
                    </div>
                </div>
            </div>
            <div id="babycare" data-tab-content>
                <h1>Temporary</h1>
            </div>

        </div>

    </div>

</body>
</html>

