@{
    ViewBag.Title = "About";
    Layout = null;
}
@{
    Html.RenderPartial("Header");
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/about.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

</head>
<body>
    <section class="above" style="margin-top:169px;margin-bottom:100px;" >
        <h1 class="team text-center">Our Team</h1>
        <div class="container">
            <div class="card-deck">
                <div class="card">
                    <img class="rounded-circle w-50 card-img-top" src="~/Content/Images/profile1.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title mt-3 mb-3">Taqi Tahmid</h5>
                        <p class="card-text text-secondary">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Totam repellat
                            cupiditate ullam saepe cum iusto maxime repudiandae iste ipsam esse!
                        </p>
                    </div>
                    <div class="card-footer d-flex justify-content-center align-items-center">
                        <div class="social fb mr-1 ml-1 d-flex justify-content-center align-items-center">
                            <a href="#" class="fab fa-facebook-f"></a>
                        </div>
                        <div class="social insta mr-1 ml-1 d-flex justify-content-center align-items-center">
                            <a href="#" class="fab fa-instagram"></a>
                        </div>
                        <div class="social twitter mr-1 ml-1 d-flex justify-content-center align-items-center">
                            <a href="#" class="fab fa-twitter"></a>
                        </div>
                        <div class="social linked-in mr-1 ml-1 d-flex justify-content-center align-items-center">
                            <a href="#" class="fab fa-linkedin-in"></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="rounded-circle w-50 card-img-top" src="~/Content/Images/profile1.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title mt-3 mb-3">Tasnid Mahin</h5>
                        <p class="card-text text-secondary">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Totam repellat
                            cupiditate ullam saepe cum iusto maxime repudiandae iste ipsam esse!
                        </p>
                    </div>
                    <div class="card-footer d-flex justify-content-center align-items-center">
                        <div class="social fb mr-1 ml-1 d-flex justify-content-center align-items-center">
                            <a href="#" class="fab fa-facebook-f"></a>
                        </div>
                        <div class="social insta mr-1 ml-1 d-flex justify-content-center align-items-center">
                            <a href="#" class="fab fa-instagram"></a>
                        </div>
                        <div class="social twitter mr-1 ml-1 d-flex justify-content-center align-items-center">
                            <a href="#" class="fab fa-twitter"></a>
                        </div>
                        <div class="social linked-in mr-1 ml-1 d-flex justify-content-center align-items-center">
                            <a href="#" class="fab fa-linkedin-in"></a>
                        </div>
                    </div>
                </div>
                <!--
                    <div class="card">
                        <img class="rounded-circle w-50 card-img-top" src="~/Content/Images/profile1.jpg" alt="...">
                        <div class="card-body">
                            <h5 class="card-title mt-3 mb-3">Mainul Ahsan Swaad</h5>
                            <p class="card-text text-secondary">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Ipsa, quaerat!
                                Perferendis labore est numquam. Mollitia officiis aut quia reiciendis doloribus!
                            </p>
                        </div>
                        <div class="card-footer d-flex justify-content-center align-items-center">
                            <div class="social fb mr-1 ml-1 d-flex justify-content-center align-items-center">
                                <a href="#" class="fab fa-facebook-f"></a>
                            </div>
                            <div class="social insta mr-1 ml-1 d-flex justify-content-center align-items-center">
                                <a href="#" class="fab fa-instagram"></a>
                            </div>
                            <div class="social twitter mr-1 ml-1 d-flex justify-content-center align-items-center">
                                <a href="#" class="fab fa-twitter"></a>
                            </div>
                            <div class="social linked-in mr-1 ml-1 d-flex justify-content-center align-items-center">
                                <a href="#" class="fab fa-linkedin-in"></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img class="rounded-circle w-50" src="~/Content/Images/profile1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title mt-3 mb-3">Koushik Mallik</h5>
                            <p class="card-text text-secondary">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Nulla eligendi
                                commodi neque odio ab dicta consequuntur quibusdam officiis quae iste.
                            </p>
                        </div>
                        <div class="card-footer d-flex justify-content-center align-items-center">
                            <div class="social fb mr-1 ml-1 d-flex justify-content-center align-items-center">
                                <a href="#" class="fab fa-facebook-f"></a>
                            </div>
                            <div class="social insta mr-1 ml-1 d-flex justify-content-center align-items-center">
                                <a href="#" class="fab fa-instagram"></a>
                            </div>
                            <div class="social twitter mr-1 ml-1 d-flex justify-content-center align-items-center">
                                <a href="#" class="fab fa-twitter"></a>
                            </div>
                            <div class="social linked-in mr-1 ml-1 d-flex justify-content-center align-items-center">
                                <a href="#" class="fab fa-linkedin-in"></a>
                            </div>
                        </div>
                    </div>
                -->
            </div>
        </div>

    </section>
</body>
</html>